@page "/GetContact/{id}"
@using ContactsListApp.Models;
@using DisplayApp.Services;
@inject IContactService conService;

<h3>Details</h3>
<div class="form-group">
    <label>Id</label>
    <input id="id" class="form-control" name="id" value="@con.id" readonly/>
</div>
<div class="form-group">
    <label>First Name</label>
    <input id="firstName" class="form-control" name="firstName" value="@con.firstName" readonly/>
</div>
<div class="form-group">
    <label>Last Name</label>
    <input id="lastName" class="form-control" name="lastName" value="@con.lastName" readonly/>
</div>
<div class="form-group">
    <label>Email</label>
    <input id="email" class="form-control" name="email" value="@con.email" readonly/>
</div>
<div class="form-group">
    <label>Category</label>
    <input id="category" class="form-control" name="category" value="@con.category" readonly/>
</div>
<div class="form-group">
    <label>Subcategory</label>
    <input id="subcategory" class="form-control" name="subcategory" value="@con.subcategory" readonly/>
</div>
<div class="form-group">
    <label>Phone</label>
    <input id="phone" class="form-control" name="phone" value="@con.phone" readonly/>
</div>
<div class="form-group">
    <label>Birthdate</label>
    <input id="birthdate" class="form-control" name="birthdate" value="@con.birthdate" readonly/>
</div>
<div>
    <a class="nav-link text-end" href="/">
     <span class="btn btn-primary" href="/" role="button">Back</span>
    </a>
</div>
@code {
    [Parameter]
    public string Id { get; set; }

    private Contact con= new Contact();

    protected override async Task OnInitializedAsync()
    {
        await Get(Guid.Parse(Id));
    }

    private async Task Get(Guid Id)
    {
        con = await conService.GetContact(Id);
    }
}