@page "/EditContact/{id}"
@using ContactsListApp.Models;
@using DisplayApp.Services;
@inject IContactService conService;

<h3>Edit Contact</h3>
<form method="post" action="Update(Guid Id)" class="mt-5">

</form>
<div class="form-group md-3">
    <label>Id</label>
    <input id="id" class="form-control" name="id" value="@contact.id" readonly/>
</div>
<div class="form-group md-3">
    <label>First Name</label>
    <input id="firstName" class="form-control" name="firstName" value="@contact.firstName" asp-for="firstName"/>
</div>
<div class="form-group md-3">
    <label>Last Name</label>
    <input id="lastName" class="form-control" name="lastName" value="@contact.lastName"/>
</div>
<div class="form-group md-3">
    <label>Email</label>
    <input id="email" class="form-control" name="email" value="@contact.email"/>
</div>
<div class="form-group md-3">
    <label>Category</label>
    <input id="category" class="form-control" name="category" value="@contact.category"/>
</div>
<div class="form-group md-3">
    <label>Subcategory</label>
    <input id="subcategory" class="form-control" name="subcategory" value="@contact.subcategory"/>
</div>
<div class="form-group md-3">
    <label>Phone</label>
    <input id="phone" class="form-control" name="phone" value="@contact.phone"/>
</div>
<div class="form-group md-3">
    <label>Birthdate</label>
    <input id="birthdate" class="form-control" name="birthdate" value="@contact.birthdate"/>
</div>
<div class="md-3">
    <button type="submit" class="btn btn-primary text-start">Update</button>

    <a class="nav-link text-end" href="/">
     <span class="btn btn-primary" href="/" role="button">Back</span>
    </a>
</div>
@code {
    [Parameter]
    public string Id { get; set; }

    private UpdateContactRequest con = new UpdateContactRequest();

    private Contact contact = new Contact();

    protected override async Task OnInitializedAsync()
    {
        await Get(Guid.Parse(Id));
    }

    private async Task Get(Guid Id)
    {
        contact = await conService.GetContact(Id);
    }

    private async Task Update(Guid Id)
    {
        con = await conService.EditContact(Id);
    }
}